{% load staticfiles %}

<html>
    <head>
        <title>Art Gallery</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


        <link rel="stylesheet" href="{% static 'css/expo.css' %}">
    </head>

    <body>


        <div class="header">
            <h1><a href="/">Art Gallery</a></h1>
        </div>


        <div class="content">
            <div class="sidebar-menu">
                <h1>Menu</h1>

            </div>

            <div class="main-page">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>