{% extends 'expo/base.html' %}


{% block main_part %}

    <section>
         <div id="head">
            <div class="line">
                <h1>Contact Information</h1>
                <div class="gallery-art-logo">
                    <h2>ART</h2>
                </div>
            </div>
         </div>

         <div id="content" class="left-align contact-page">
            <div class="line">
               <div class="margin">
                  <div class="s-12 l-6">
                     <h2>Art Gallery</h2>
                     <address>
                        <p><i class="icon-home icon"></i> Magnisias 99, Serres</p>
                        <p><i class="icon-globe_black icon"></i> Greece - Europe</p>
                        <p><i class="icon-mail icon"></i> info@artgallery.gr</p>
                     </address>
                     <br />
		          </div>

                  <div class="s-12 l-8">
                     <h2>Contact Form</h2>
                     <form class="customform" action="">
                        <div class="s-12 l-7"><input name="" placeholder="Your e-mail" title="Your e-mail" type="text" /></div>
                        <div class="s-12 l-7"><input name="" placeholder="Your name" title="Your name" type="text" /></div>
                        <div class="s-12"><textarea placeholder="Your message" name="" rows="5"></textarea></div>
                        <div class="s-12 m-6 l-4"><button type="submit">Submit</button></div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
       </section>


{% endblock %}
