{% extends 'expo/base.html' %}
{% load staticfiles %}

{% block main_part %}

    <div id="head">
        <div class="line">
            <h1 style="color: white">Hall of Fame</h1>
        </div>
    </div>


    <!-- WHOLE CONTENT -->
    <div class="gallery-whole-content">
        <!-- LEFT SIDEBAR -->
        <div class="gallery-left-sidebar">

            <!-- SEARCH FIELD -->
            <form class="form-inline" type="get" action=".">
                <input type="search" name="txt" value="">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Search</button>
            </form>

            <!-- FILTERS MENU -->
            <div class="gallery-left-sidebar-filters">

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Artists
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for artist in artists_distinct %}
                            <li><a href="{% url 'gallery' %}?artist_id={{ artist.pk }}">{{ artist.artist_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Genres
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for genre in genres_distint %}
                            <li><a href="{% url 'gallery' %}?genre_id={{ genre.pk }}">{{ genre.genre_title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Periods
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for period in periods_distinct %}
                            <li><a href="{% url 'gallery' %}?period_id={{ period.pk }}">{{ period.period_title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Countries
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for country in countries_distinct %}
                            <li><a href="{% url 'gallery' %}?museum_country_id={{ country.pk }}">{{ country.country_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Museums
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        {% for museum in museums_distinct %}
                            <li><a href="{% url 'gallery' %}?museum_id={{ museum.pk }}">{{ museum.museum_title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- CHECKBOXES -->
            <div class="gallery-checkbox-artist">
                <h3>Artists</h3>
                <div class="gallery-checkboxes-items"
                    <form class="form-inline" type="get" action=".">
                        {% for artist in artists_distinct %}
                            <div class="checkbox">
                                <label><input type="checkbox" name="checkbox_values" value="">{{ artist.artist_name }}</label>
                            </div>
                        {% endfor %} </div>
                        <button type="submit" class="btn btn-default">Go</button>
                    </form>
            </div>

        </div>


        <!-- MAIN CONTENT -->
        <div class="gallery-main-content">
            <div class="container-fluid">
                <div class="row">
                    {% if paint_objects %}
                        {% for paint in paint_objects %}
                            {% if paint.art_image %}
                                <div class="col-md-4">
                                    <a href="{% url 'painting_detail' pk=paint.pk %}"><h1 class="img-rounded">{{ paint.title }}</h1></a>
                                    <a href="{% url 'painting_detail' pk=paint.pk %}"><img class="img-rounded" src="{{ paint.art_image.url }}" alt="{{ paint.title }}" /></a>
                                    <p class="img-rounded">{{ paint.description }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h1 style="color: red; font-weight: bold">No results</h1>
                    {% endif %}
                </div>
            </div>









        <!-- ----------------------------------- COMMENTS ------------------------------------------------
             PAINTINGS (TEXT - no images - first version)
            {% for paint in paint_objects %}
                <div class="gallery-painting-text">
                    <h1><a href="{% url 'painting_detail' pk=paint.pk %}">{{ paint.f_artist }}</a></h1>
                    <h3>{{ paint.title }} (Year: {{ paint.created_date.year }})</h3>
                    <p>{{ paint.description | linebreaksbr }}</p>
                    <p>Genre: {{ paint.f_genre }}</p>
                    <p>Museum: {{ paint.f_museum }}</p>
                    <p>Period: {{ paint.f_period }}</p>

                    <p>Artist's city: {{ paint.f_artist.f_city }}</p>
                    <p>Artist's country: {{ paint.f_artist.f_city.f_country }}</p>

                    <p>Museum's city: {{ paint.f_museum.f_city }}</p>
                    <p>Museum's country: {{ paint.f_museum.f_city.f_country }}</p>
                </div>
            {% endfor %}
         ----------------------------------------------------------------------------------------------------- -->

        </div>
    </div>


{% endblock %}
