{% extends 'expo/base.html' %}
{% load staticfiles %}

{% block main_part %}

         <!-- CAROUSEL -->  	
         <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme">
               <div class="item">
                  <img src="{% static 'img/first.jpg' %}" alt="">
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>The Last Supper</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>Leonardo Da Vinci
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="{% static 'img/second.jpg' %}" alt="">
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>Starry Night</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>Vincent van Gogh
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <img src="{% static 'img/third.jpg' %}" alt="">
                  <div class="carousel-text">
                     <div class="line">
                        <div class="s-12 l-9">
                           <h2>School of Athens</h2>
                        </div>
                        <div class="s-12 l-9">
                           <p>Raphael
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <!-- SECOND BLOCK --> 	
         <div id="second-block">
            <div class="line">
               <div class="margin-bottom">
                  <div class="margin">
                     <article class="s-12 l-8 center">
                        <h1>Art Gallery</h1>
                        <p class="margin-bottom">Being a famous artist in your own lifetime is no guarantee that you'll be remembered by other artists. Artists desire to create artwork that will be remembered forever. Here is a list of some of the most famous paintings in the world.
						</p>
                        <a class="button s-12 l-4 center" href="">Read more</a>
                     </article>
                  </div>
               </div>
            </div>
         </div>


         <!-- GALLERY --> 	
         <div id="third-block">
            <div class="line">
               <h2>Famous paintings</h2>
               <p class="subtitile">Some of the most famous paintings in the world.
               </p>
               <div class="margin">
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/first-small.jpg' %}" alt="alternative text">
                     <p class="subtitile">Mona Lisa (Leonardo da Vinci)
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/second-small.jpg' %}" alt="alternative text">
                     <p class="subtitile">The Persistence of Memory (Salvador Dali)
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/third-small.jpg' %}" alt="alternative text">
                     <p class="subtitile">Guernica (Pablo Picasso)
                     </p>
                  </div>
                  <div class="s-12 m-6 l-3">
                     <img src="{% static 'img/fourth-small.jpg' %}" alt="alternative text">
                     <p class="subtitile">Salvator Mundi (Leonardo da Vinci)
                     </p>
                  </div>
               </div>
            </div>
         </div>

{% endblock %}
