<!DOCTYPE html>
<html lang="en-US">
<head></head>

<body>

    <h1>United Kingdom Museums</h1>
    {% for ukm in uk_museums %}
        <h3>Museum: {{ ukm.museum_title }}</h3>
        <h3>City: {{ ukm.f_city }}</h3>
        <p>*************************************</p>
    {% endfor %}

    <h1>London Museums</h1>
    {% for lm in london_museums %}
        <h3>Museum: {{ lm.museum_title }}</h3>
        <h3>City: {{ lm.f_city }}</h3>
        <p>#####################################</p>
    {% endfor %}

</body>