.header {
    background-image: url("/static/images/header_background.jpg");
    background-repeat: no-repeat;
    margin-top: 0;
    padding: 20px 20px 20px 40px;

}



.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
    color: floralwhite;
    font-size: 36pt;
    text-decoration: none;
}

body {
    background: url("/static/images/transparent_body_background.jpg") repeat;

}




/*------ "content" ------*/
.content {
    /* border-style: solid; */

}


.content {
    margin-left: 30px;
}
/*------- End of "content" -------*/



.main-page {
   /* border-style: solid; */
    border-left: 3px solid black;
    margin: 10px 10px 10px 250px;
    padding: 0px 20px 0px 20px;
}



.sidebar-menu {
   /* border-style: solid; */
    margin: 10px 10px 0px 10px;
    padding: 0 150px 0 0;
    float: left;

}




h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


.year {
    color: dimgray;
}


.save {
    float: right;
}


.painting-form textarea, .painting-form input {
    width: 100%;
}


.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}


.painting {
    margin-bottom: 70px;
}


.painting h1 a, .painting h1 a:visited {
    color: #000000;
}